.main-navbar {
  width: 100%;
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0);
  transition: all 0.5s ease;
  z-index: 1111;
  height: 100px;
  display: flex;
  align-items: center;

  :global(.navbar-brand) {
    width: 200px;
  }

  :global(.navbar-brand) img {
    width: 100%;
    height: auto;
  }

  :global(.navbar-collapse) {
    flex-grow: 0;
  }

  :global(.navbar-expand-lg) {
    justify-content: space-between;
  }

  :global(.navbar-nav .nav-link) {
    color: $white-color;
    font-weight: 400;
    font-size: 17px;
    margin-right: 35px;
    position: relative;
    padding: 10px 0 !important;
    line-height: 15px;
    transition: all 0.6s ease;
    font-family: $paragraph-font;

    &:hover {
      color: $secondary-color;

      &::before {
        position: absolute;
        content: "";
        width: 100%;
        background-color: $secondary-color;
        left: 0;
        bottom: 0;
        height: 1px;
        transition: 0.3s;
      }
    }
  }

  :global(.navbar-nav .nav-link.active) {
    color: $secondary-color;

    &::before {
      position: absolute;
      content: "";
      width: 100%;
      background-color: $secondary-color;
      left: 0;
      bottom: 0;
      height: 1px;
      transition: 0.3s;
    }
  }
}

.sticky {
  position: fixed;
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  :global(.navbar-nav .nav-link) {
    color: $primary-color;
  }
  :global(.navbar-brand) img {
    width: 85%;
    height: auto;
  }
}
